input[type="text"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: none;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.category {
    display: flex;
    justify-content: space-between;
    padding: 15px 12px 20px 20px;
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    margin-bottom: 5px;
    height: 25px;
    background: #222;
    color: #FFF;
    border-radius: 15px;
    box-shadow: rgb(8 9 10 / 44%) 3px 3px 6px 0px inset, rgb(29 29 29 / 50%) -3px -3px 6px 1px inset, rgb(43 43 43 / 20%) 0px 0px 10px;
    transition: all 0.8s ease;

}

/* .category:hover {
    box-shadow: none;
    transition: all 0.8s ease;
} */




  
.category-name {
    /* border: 2px rgb(219, 98, 98) solid; */
    width: 95%;
    white-space: pre-wrap;
    /* 保留換行並自動換行 */
    word-wrap: break-word;
    /* 讓長單詞換行 */

}


.export-category{
    margin-bottom: 10px;
}

.export-category i{
    font-size: 14px;
  }

.category-name .title {
    /* border: 2px red solid; */
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 顯示2行，超過則顯示省略號 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category:hover {
    background: #2b2b2b;
    box-shadow: rgb(12, 12, 12) 1px 1px 10px, rgba(24, 23, 23, 0.13) 3px 3px 1px 1px, rgba(94, 94, 94, 0.2) 0px 0px 10px;
    transition: all 0.8s ease;
  }

.export-container {
    max-height: 65vh;
    overflow-y: auto;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #2b2b2b #181818;
    white-space: pre-wrap;
    word-wrap: break-word;
}  

.export-container .completed{
    background: #2c83b5;
    transition: all 0.8s ease;
}


.export-container .urgent{
    background: #b53c2c;
    transition: all 0.8s ease;
}

/* .category .urgent:hover {
    background: #f56b58;
    box-shadow: rgb(12, 12, 12) 1px 1px 10px, rgba(24, 23, 23, 0.13) 3px 3px 1px 1px, rgba(94, 94, 94, 0.2) 0px 0px 10px;
    transition: all 0.8s ease;
  } */

/* .category-name .urgent {
	color: #c04040;
}

.category-name .urgent i{
	color: #c04040;
	font-size: 14px;
} */

.light-mode .category {
    color: #b6b4b4;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 2.8s ease;
}

.light-mode .category .font-awesome-i {
    /* color: #1287ca; */
    color: #b6b4b4;
}
.light-mode .title{
    color: #b6b4b4;
}

.light-mode .category:hover {
    box-shadow: rgb(184, 184, 184) 0px 1px 1px, rgba(122, 122, 122, 0.13) 0px 0px 1px 1px;
    transition: all 0.8s ease;
}  