.float {
    position: absolute;
    /* position:fixed; */
    width: 25px;
    height: 40px;
    top: 53px;
    right: 0px;
    color: #FFF;
    border-radius: 90px 5px 5px 90px;
    box-shadow: rgb(17 26 31) 3px 3px 6px 0px inset, rgb(29 29 29 / 50%) -3px -3px 6px 1px inset, rgb(103 97 97 / 20%) 0px 0px 10px;
    text-align: center;
    transition: all 0.8s ease;
    z-index: 9999;
  }
  
  .float:hover {
    box-shadow: none;
    transition: all 2.8s ease;
  }

  .float-plus2{
    top: 100px;
    width: 35px;
    height: 50px;
  }

  .float-plus2 i{
    margin: 18px 0px 0px 5px;
  }

  .float-plus2:hover{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    transition: all 3s ease;
  }

  .float-plus{
    top: 100px;
    width: 35px;
    height: 500px;
  }

  .float-plus:hover{
    border-radius: 15px 5px 5px 15px;
    box-shadow: rgb(17 26 31) 3px 3px 6px 0px inset, rgb(29 29 29 / 50%) -3px -3px 6px 1px inset, rgb(103 97 97 / 20%) 0px 0px 10px;
    margin: 10px 0px 0px 250px;
    width: 300px;
    transition: all 3s ease;
  }

  .float-plus:hover i{
    margin: 220px 0px 0px 40px;
    font-size: 30px;
    transition: all 1s ease;

  }

  .float-plus i{
    margin: 28px 10px 0px 10px;
    transition: all 0.8s ease;
  }

  .float-plus p {
    display: none;  /* 預設隱藏 */
  }
  
  .float-plus:hover p{
    margin: 18px 0px 0px 80px;
    display: block; /* hover 時顯示 */
  }

  .typing-effect {
    white-space: pre-wrap;
    /* 保留換行並自動換行 */
    word-wrap: break-word;
    /* 讓長單詞換行 */
    border-right: 2px solid rgb(247, 247, 247);  /* 模擬打字游標 */
    white-space: nowrap;  /* 確保文字不換行 */
    overflow: hidden;  /* 隱藏超出範圍的文字 */
    width: 10%;  /* 初始寬度為 0 */
    animation: typing 1s steps(10, end) forwards, blink 0.7s infinite;
  }


/* 文字打字動畫 */
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 120px;  /* 根據內容長度調整 */
  }
}

/* 游標閃爍動畫 */
@keyframes blink {
  50% {
      border-color: transparent;
  }
}


  .float-prepage{
    top: 23px;
    width: 35px;
    height: 50px;
    transition: all 3s ease;
  }

  .float-prepage:hover{
    width: 50px;
    height: 50px;
    border-radius: 90px;
    transition: all 3s ease;
  }

  .float-prepage i{
    margin: 18px 0px 0px 5px;
  }

  .float-bars{
    width: 100px;
    height: 50px;
    left: 23px;
    top: 23px;
    border-radius: 25px;
  }

  .float-bars .header-container{
    margin: 18px;
  }



  .float-sound {
    position: absolute;
    width: 10px;
    height: 40px;
    top: 100px;
    left: -10px;
    border-radius: 90px 5px 5px 90px;
    box-shadow: rgb(8 9 10 / 44%) 3px 3px 6px 0px inset, rgb(29 29 29 / 50%) -3px -3px 6px 1px inset, rgb(43 43 43 / 20%) 0px 0px 10px;
    /* box-shadow: rgb(17 26 31) 3px 3px 6px 0px inset, rgb(29 29 29 / 50%) -3px -3px 6px 1px inset, rgb(103 97 97 / 20%) 0px 0px 10px; */
  }

  .float-speak {
    position: absolute;
    width: 10px;
    height: 40px;
    top: 58px;
    left: -10px;
    border-radius: 90px 5px 5px 90px;
    box-shadow: rgb(8 9 10 / 44%) 3px 3px 6px 0px inset, rgb(29 29 29 / 50%) -3px -3px 6px 1px inset, rgb(43 43 43 / 20%) 0px 0px 10px;
  }

  .mute {
    width: 5px;
    left: -5px;
  }

  .my-float {
    font-size: 12px;
    margin: 14px 0px 0px 7px;
    z-index: 9999;
  }



  
.light-mode .float {
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
  /* background: #39b2f8; */
  box-shadow: rgb(255 255 255 / 25%) 0px 1px 1px, rgb(15 55 124 / 13%) 0px 0px 1px 1px;
  /* box-shadow: rgb(252 252 252) 3px 3px 6px 0px inset, rgb(236 236 236 / 50%) -3px -3px 6px 1px inset;*/
}

.light-mode .float .font-awesome-i {
  /* color: #1287ca; */
  color: #e4e4e4;
}

.light-mode .float-plus:hover {
  box-shadow: rgb(255 255 255 / 25%) 0px 1px 1px, rgb(15 55 124 / 13%) 0px 0px 1px 1px;
}

.light-mode .float-sound {
  /* box-shadow: rgb(213 213 213 / 44%) 3px 3px 6px 0px inset, rgb(191 191 191 / 50%) -3px -3px 6px 1px inset, rgb(255 255 255 / 20%) 0px 0px 10px */
  box-shadow: rgb(199 204 204) 3px 3px 6px 0px inset, rgb(230 228 228 / 50%) -3px -3px 6px 1px inset, rgb(251 251 251 / 20%) 0px 0px 10px;
}

.light-mode .float-speak {
  box-shadow: rgb(199 204 204) 3px 3px 6px 0px inset, rgb(230 228 228 / 50%) -3px -3px 6px 1px inset, rgb(251 251 251 / 20%) 0px 0px 10px;
}
